@charset "UTF-8";
.col-md-6 {
	background-color: rgb(51, 51, 51);
	height: 80px;
	width: 103em !important;
	max-width: 100% !important;
}
h3 {
	font-family: 'BebasNeue';
	font-size: 28pt;
	margin-left: 80px;
	margin-bottom: 20px;
}
#logo {
	margin-left: 25px;
	margin-top: 10px;
}
input[type="password"], input[type="email"]{
	width: 75%	!important;
	margin-top:3%;
	margin-left: 35px;
}
#remember {
	margin-left: 35px !important;
}
#reg {
	margin-left: 10px !important;
}
.submitbutton {
	margin-right: 7px !important;
}
h2 {
	margin-top: 1.5%;
	font-size: 22px	!important;
	text-shadow: 1px 1px 1px #000000;
	color:#212529;
	margin-left:1%;
	margin-top:1.5%;
}

.card{
	margin-top:20%;
	margin-left:34%;
	width:30%;
	padding: 15px 15px;
	border-radius:20px !important;	
	background-color: rgb(81, 87,96,.8);
	color:white;
}

input[type="email"], input[type="password"]{
	margin-bottom:3%;
	width:55%;
}

button[type="submit"]{
	margin-top: 3%;
	margin-left:40%;
}
input[type="submit"]{
	margin-top: 3%;
	margin-left:38%;
}

.homebutton{
	position: absolute;
	left: 45%;
	background-color:transparent !important;
	border:none	!important;
	color: white !important; 
    font-size: 13pt !important;
    margin-top: 20px !important;
}
.glyphicon-home{
	width:30%;
}
.btn-lg{
	font-size:1.25rem;
	margin-top:-.15%;
	margin-left:-.3%;
	color:#212529
}

body {
	background-color: rgb(37, 62, 102) !important;
	background-image: url("BlackVignette.png");
}
*{
			font-family: 'Poppins', sans-serif;
	
}
#username_error{
	display:none;
}
#password_error{
	display:none;
}
fieldset {
  overflow: hidden
}

.form-group {
  float: left;
  clear: none;
}

#radio {
	margin-left: 10px !important;
}

#dropdown {
	color: gray;
	margin-bottom: 15px;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin-right: 5px;
  margin-left: 7px;
  -webkit-appearance: radio;
}